{% extends 'base.html' %}

{% block content %}
<div class="container-sm form_padding form-container fade_in-1">
    <form class="border border-1 border p-4 rounded shadow" method="post">
        <div class="d-flex justify-content-center">
          <h3>Register</h3>
        </div>
        <div class="mb-3">
          <label for="newUsername" class="form-label">Username</label>
          <input type="text" class="form-control" id="newUsername" name="newUsername">
        </div>
        <div class="mb-3">
          <label for="newPassword" class="form-label">Password</label>
          <input type="text" class="form-control" id="newPassword" name="newPassword">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <p class="pt-3">Already registered? <a class="text-secondary" href="{{ url_for('login') }}">Click here</a> to login.</p>
    </form>
</div>
{% endblock %}