{% extends 'base.html' %}

{% block content %}
<div class="container-xxl text-center p-1 shadow border mt-4 fade_in-1">
    <div class="container text-center pt-4 pb-2">
        <h2>Your pets:</h2>
    </div>
    <div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
        {% for item in unlisted_items %}
        <div class="container p-3 m-0" style="max-width: 425px;">
            <div class="container border rounded shadow bg-light" style="padding: 0;">
                <div class="">
                    <div class="image_container p-4" >
                        {% set img_link = 'pet_images/' + item['image_ref'] %}
                        <img class="pet_image" src="{{ url_for('static', filename=img_link) }}" alt="animal picture">
                    </div>
                </div>
                <h3 class="m-2 pet_title">{{ item['name'].title() }} <span class="text-secondary">${{ item['price'] }}</span></h3>
                <div class="container p-2">
                    <P class="aminal_description text-start">{{ item['description'] }}</P>
                </div>
                <div class="container pb-3 bg-light">
                    <form method="post">
                        <input type="hidden" name="id" value="{{ item['id'] }}">
                        <button class="btn btn-success" type="submit" name="createListing" value="createListing">List Pet</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        {% for item in listed_items %}
            <div class="container p-3 m-0" style="max-width: 425px;">
                <div class="container border rounded shadow bg-light" style="padding: 0;">
                    <div class="">
                        <div class="image_container p-4" >
                            {% set img_link = 'pet_images/' + item['image_ref'] %}
                            <img class="pet_image" src="{{ url_for('static', filename=img_link) }}" alt="animal picture">
                        </div>
                    </div>
                    <h3 class="m-2 pet_title">{{ item['name'].title() }} <span class="text-secondary">${{ item['price'] }}</span></h3>
                    <div class="container p-2">
                        <P class="aminal_description text-start">{{ item['description'] }}</P>
                    </div>
                    <div class="container pb-3 bg-light">
                        <form method="post">
                            <input type="hidden" name="id" value="{{ item['id'] }}">
                            <button class="btn btn-secondary" type="submit" name="removeListing" value="removeListing">Unlist Pet</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}